/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;

}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    font-size: 20px;
    font-weight: 700;
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    border: 0px;
}

/* nav related styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 230px;
}

.nav-title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: #474747;
}



/* header related styles */
.header {
    background-color: #fff8f3;
    width: 1600px;
    height: 837px;
    margin-left: 300px;
}

.header .banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.banner .propic {
    width: 550px;
    height: 676px;
}

.banner{
    display: flex;
    margin-top: -120px;
}